<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="log.moduleName" value="fangtianxia" />


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="normal" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 设置日志不超过${log.max.size}时的保存路径，注意如果 是web项目会保存到Tomcat的bin目录 下 -->
        <!--D:\tomcat\apache-tomcat-7.0.75\bin 这个log文件是在tomacat的安装目录下的-->
        <File>logs/${log.moduleName}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--解压缩log文件的位置-->
            <!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件。-->
            <fileNamePattern>logs/${log.moduleName}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <!--最大存储期限-->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
    </appender>

    <!--专门用于存放错误日志，多了一个filter来过滤error消息-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <!-- 设置日志不超过${log.max.size}时的保存路径，注意如果 是web项目会保存到Tomcat的bin目录 下 -->
        <File>logs/${log.moduleName}_error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${log.moduleName}_error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--匹配上的时候ACCEPT  没有匹配的时候拒绝DENY-->
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--另外定制的log如果想看spring mybatis的log可以在这里定制-->
    <logger name="org.springframework" level="DEBUG" />

    <!--可以包含零个或多个<appender-ref>元素，标识这个appender将会添加到这个logger ，如果这里没有添加error的ref那么 error的log不会进入到log文件中-->
    <!--ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF 所以DEBUG可以看到INFO WARN ERROR等等的log-->
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
        <appender-ref ref="normal"/>
    </root>

</configuration>